.duane
{
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    border-style:solid;
    text-underline-position: above;

    background: radial-gradient( #000, #aaaaaa);
    
}
.center
{
    
    display: block;
    margin-right: auto;
    margin-left:auto;
    width: 60%;
    height: auto;
    text-underline-position: above;


}
.musictable
{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    height: auto;
    border-style:groove;
    border-width: 10px;
    background: radial-gradient(#ff0000, #500000);
}
.maintitle
{
    position: relative;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    background: linear-gradient(to bottom, #e61818, #004c6a);
    text-shadow:  100px 15px #ffffff, 0 0 5px #ff0000;
}